# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only export the addons directory
/**							export-ignore
/addons/dioptra				!export-ignore
/addons/dioptra-geobuilder	!export-ignore